* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    list-style: none;
}

:root {

    /* First Text Color  */

    --very-dark-desaturated-blue:  hsl(238, 29%, 16%);
    --soft-red:  hsl(14, 88%, 65%);

    /* Background Gradient */

    --soft-violet:  hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Second Text Color */

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */

    --Light-grayish-blue: hsl(240, 5%, 91%);

}

html {
    font-size: 12px;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    width: 90%;
    max-width: 930px;
    height: 80%;
    max-height: 565px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 80px;
    border-radius: 25px;
}

.container {
    width: 90%;
    height: 90%;
    position: relative;
}

.image-container {
    height: 20%;
}

.image-container .mobile-image {
    display: grid;
    place-items: center;
    width: 250px;
    margin: 0 auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -142px;
}

.image-container::before{
    content: url(/images/illustration-woman-online-mobile.svg);
    width: 250px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -140px;
}

 .image-container::after {
    content: url(/images/bg-pattern-mobile.svg);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -28px;
    display: grid;
    place-items: center;
}

    


.mobile-shadow {
   position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -25px;
}

.box{
    display: none;
}

.second {
    outline: 1px solid red;
    
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.accordion-item {
     border-bottom: 1px solid var(--Light-grayish-blue);
}

button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
    /* padding: 20px 0; */
    outline: none;
    background: none;
    border: none;
    width: 100%;
   
    text-align: left;
    
}

button.active span {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;   
}

button.active img {
    transition: all .3s ease-in-out;
    transform: rotate(180deg);
}



span {
    padding: 20px 0;
    color: var(--Dark-grayish-blue);
    font-weight: 400;
    text-align: left;
}

span:hover {
    color: var(--soft-red);
    cursor: pointer;
}

.accordion-elements {
    padding: 15px 0 0px;
}

p {
    padding-bottom: 22px;
    width: 80%;
    color: var(--Dark-grayish-blue);
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}


footer {
    position: absolute;
    bottom: 0;
}


@media screen and (min-width: 780px) {
    main{
        margin-top: 0px;
        position: relative;
        overflow: hidden;
    }

    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        place-items: center;
    }

    .image-container::before {
        position: relative;
        content: url(/images/illustration-woman-online-desktop.svg);
        /* top: 60px; */
        left: -100px;
        z-index: 1;
    }

    .box {
        display: block;
        z-index: 3;
        position: fixed;
        margin-right: inherit;
        margin-left: inherit;
        margin-top: -355px;
        margin-left: -150px;
    }

    .image-container::after {
        position: absolute;
        content: url(/images/bg-pattern-desktop.svg);
        height: 50px;
        left: -1130px;
        top: -310px;
    }

    h1 {
        font-size: 3rem;
        padding: 30px 0;
        text-align: left;
    }

    .accordion-elements {
        padding-top: 0px;
    }

    
}

