* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    list-style: none;
}

:root {

    /* First Text Color  */

    --very-dark-desaturated-blue:  hsl(238, 29%, 16%);
    --soft-red:  hsl(14, 88%, 65%);

    /* Background Gradient */

    --soft-violet:  hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Second Text Color */

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */

    --Light-grayish-blue: hsl(240, 5%, 91%);

}

html {
    font-size: 12px;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-items: center;
}

main {
    width: 90%;
    max-width: 920px;
    min-height: 520px;
    background-color: white;
    position: relative;
}

.first-container {
    display: grid;
    place-items: center;
    height: 30%;
    position: relative;
outline: 1px solid red;
min-height: 120px;
    /* margin-top: -20px; */
}

.first-container img {
    max-width: 250px;
    margin-top: -160px;
    position: absolute;
    width: 80%;
}

.first-container img::after {
    content: url(/images/bg-pattern-mobile.svg);
}

.second-container {
    width: 90%;
    margin: 0 auto;
    outline: 1px solid green;
}

.second-container h1 {
    text-align: center;
    padding: 20px 0;
}

.section {
    background: white;
    border-bottom: 1px solid var(--Light-grayish-blue);
}

label {
    cursor: pointer;
    display: block;
    padding: 15px 0;
    margin: 0;
    position: relative;
}

label::after {
    content: url(/images/icon-arrow-down.svg);
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.accordion__content {
    visibility: hidden;
    overflow: hidden;
    padding: 0 20px;
    max-height: 0;
     transition: all .5s ease;
}

.accordion__content *{
    opacity: 0;
    transition: all .5s ease;
}

input {
    display: none;
}

input:checked + label + .accordion__content {
    padding: 15px 0;
    max-height: 100vh;
    visibility: visible;
    opacity: 1;
}

input:checked + label + .accordion__content *{
    opacity: 1;
}

input:checked + label::after {
    transform: rotate(180deg);
}
