* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    list-style: none;
}

:root {

    /* First Text Color  */

    --very-dark-desaturated-blue:  hsl(238, 29%, 16%);
    --soft-red:  hsl(14, 88%, 65%);

    /* Background Gradient */

    --soft-violet:  hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* Second Text Color */

    --Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Dividers */

    --Light-grayish-blue: hsl(240, 5%, 91%);

}

html {
    font-size: 12px;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
    background-repeat: no-repeat; 
}

main {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    width: 85%;
    max-width: 920px;
    min-height: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    border-radius: 2em;
    box-shadow: 0 1.875rem 2.5rem rgb(29 30 53 / 40%);
}

.sub-container {
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
}

.image {
    width: 80%;
    margin: 0 auto;
    margin-top: -100px;
}

.image::after {
    content: url(/images/bg-pattern-mobile.svg);
    position: absolute;
    top: 0;
}

.faq {
    margin-top: 60px ;
}

.sub-faq {
    padding-top: 20px;
}

.last-hr {
    margin-bottom: 30px;
} 

h1 {
    text-align: center;
    font-size: 3.0rem;
    margin-bottom: 20px;
}

.accordion {
  background-color: inherit;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  border: none;
  text-align: left;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
    color: var(--soft-red);
}

.active.accordion{
    color: var(--very-dark-desaturated-blue);
    font-weight: 600;
}

.accordion::after {
    content: url(/images/icon-arrow-down.svg);
    float: right;
}

.active::after {
    transform: rotate(180deg);
}

.panel {
  /* padding: 0 18px; */
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  width: 95%;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}



ul {
  margin: 20px 0 ;
  font-weight: 400;
}

.Arrow {
    float: right;
}

li {
    margin: 20px 0;
    color: green;
    display: none;
    width: 80%;
}

hr {
    margin: 5px 0;
    background-color: var(--Light-grayish-blue);
    border: none;
height: 1px;
}